.main_div{
    height: 100vh;
    width: 100vw;
    display: grid;
    background-color: black;
    place-items: center;
    align-items: center;
}
.main_one{
    height: 40rem;
    width: 27rem;
    background-color: pink;
    place-items: center;
}
.month{
    background-color: yellowgreen;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    word-spacing: 0.4rem;

}
.weekdays{
    color: red;
    display: flex;
    letter-spacing: 6px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    gap: 0.9rem;
}
.days{

    width: 5rem;
    color: black;display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    gap: 0.9rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0.3rem;
}